:root {
    --main-black: #000000;
    --main-white: #ffffff;
    --main-gray: #d9d9d9;
    --main-red: red;
    --main-green: rgb(11, 201, 11);
    --background-form: #ffffffcc;
    --background-btn-primary: #007BFF;
    --background-header: #00000078;
    --background-home-page: aliceblue;
    --text-title-gray: #5F5F5F;
    --text-link-blue: #1E5CFD;
    --text-btn-home: #C40000;
    --border-gray: #a1a1a1eb;
    --btn-gray: #6c757d;
    --hover-text: #770303;
}

a {
    text-decoration: none;
}

.notify-all {
    height: 42px;
    position: absolute;
    top: 100px;
    left: 35%;
    background-color: var(--main-green);
    z-index: 1;
    border-radius: 10px;
    animation: fadeOut linear 6s 2s forwards;

    p {
        padding: 5px 10px;
        font-size: 20px;
        font-weight: 700;
        color: var(--main-white);
    }

    &.error {
        background-color: var(--main-red);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
